<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>DTPlatformVersion</key>
    <string>18.5</string>
    <key>LEAP_API_URL</key>
    <string>https://api.leaptodigital.com/leap</string>
    <key>LEAP_CATEGORY_BAR_BOTTOM_LINE_COLOR</key>
    <string></string>
    <key>DTSDKBuild</key>
    <string>22F76</string>
    <key>CFBundleIcons~ipad</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon60x60</string>
          <string>AppIcon76x76</string>
        </array>
        <key>CFBundleIconName</key>
        <string>AppIcon</string>
      </dict>
    </dict>
    <key>LEAP_ESTIMATE_BOTTOM_BAR_PRICE_BUTTON_COLOR</key>
    <string>92-183-91-1</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>NSCameraUsageDescription</key>
    <string>Used to scan barcodes, to scan credit cards, and take photos for contracts and proposals</string>
    <key>CFBundleDisplayName</key>
    <string>SalesPro</string>
    <key>LEAP_APP_ID</key>
    <string>vsJUoMTVBxWim04bhb92eEHYlC7CF5TGGeV5zeTL</string>
    <key>DTXcodeBuild</key>
    <string>16F6</string>
    <key>CFBundleIdentifier</key>
    <string>com.stencil.estiMATE</string>
    <key>LEAP_ESTIMATE_BOTTOM_BAR_OUTSIDE_LABEL_COLOR</key>
    <string>255-255-255-1</string>
    <key>UIFileSharingEnabled</key>
    <true/>
    <key>UIDeviceFamily</key>
    <array>
      <integer>1</integer>
      <integer>2</integer>
    </array>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>waze</string>
      <string>Ingage</string>
    </array>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleIcons</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon60x60</string>
        </array>
        <key>CFBundleIconName</key>
        <string>AppIcon</string>
      </dict>
    </dict>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleSupportedPlatforms</key>
    <array>
      <string>iPhoneOS</string>
    </array>
    <key>NSUserTrackingUsageDescription</key>
    <string>Tracking is requested only for delivering personal notifications and accessing your personal account data. The app will function regardless of which privacy option is chosen.</string>
    <key>UIMainStoryboardFile</key>
    <string>MainMenu</string>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
    <key>UIRequiresFullScreen</key>
    <true/>
    <key>MinimumOSVersion</key>
    <string>16</string>
    <key>LEAP_ESTIMATE_BOTTOM_BAR_BACKGROUND_COLOR</key>
    <string>0-0-0-1</string>
    <key>CFBundleName</key>
    <string>Leap</string>
    <key>CFBundleShortVersionString</key>
    <string>2.34.1</string>
    <key>LEAP_SWITCH_TINT_COLOR</key>
    <string>0-0-0-1</string>
    <key>UIStatusBarHidden</key>
    <false/>
    <key>LEAP_LOGIN_SOURCE</key>
    <string>mobile</string>
    <key>CFBundleExecutable</key>
    <string>Leap</string>
    <key>UIAppFonts</key>
    <array>
      <string>Lucida Sans-Regular.ttf</string>
      <string>Lucida Sans-Italic.TTF</string>
      <string>Lucida Sans-Demibold Roman.TTF</string>
      <string>Lucida Sans-Demibold Italic.TTF</string>
      <string>Font Awesome 6 Pro-Regular-400.otf</string>
      <string>Font Awesome 6 Pro-Solid-900.otf</string>
      <string>Font Awesome 6 Pro-Light-300.otf</string>
      <string>Font Awesome 6 Pro-Thin-100.otf</string>
      <string>Poppins-SemiBold.ttf</string>
      <string>Poppins-Thin.ttf</string>
      <string>Poppins-MediumItalic.ttf</string>
      <string>Poppins-Light.ttf</string>
      <string>Poppins-ExtraLightItalic.ttf</string>
      <string>Poppins-SemiBoldItalic.ttf</string>
      <string>Poppins-ThinItalic.ttf</string>
      <string>Poppins-LightItalic.ttf</string>
      <string>Poppins-Italic.ttf</string>
      <string>Poppins-ExtraBoldItalic.ttf</string>
      <string>Poppins-ExtraBold.ttf</string>
      <string>Poppins-Bold.ttf</string>
      <string>Poppins-Medium.ttf</string>
      <string>Poppins-Regular.ttf</string>
      <string>Poppins-ExtraLight.ttf</string>
      <string>Poppins-Black.ttf</string>
      <string>Poppins-BlackItalic.ttf</string>
      <string>Poppins-BoldItalic.ttf</string>
      <string>Roboto-Bold.ttf</string>
      <string>Helvetica-Condensed-Bold.ttf</string>
      <string>Helvetica-Condensed-Light.ttf</string>
      <string>Helvetica-Condensed.ttf</string>
      <string>ArialMT-ExtraBold.ttf</string>
      <string>ArialMT-Light.ttf</string>
      <string>ArialMT-Medium.ttf</string>
      <string>ArialMT-Bold.otf</string>
      <string>ArialMT-Regular.ttf</string>
      <string>ArialMT-BlackRegular.ttf</string>
      <string>Arial Monospaced MT Std Regular.otf</string>
    </array>
    <key>UIBackgroundModes</key>
    <array>
      <string>fetch</string>
      <string>remote-notification</string>
      <string>audio</string>
    </array>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>arm64</string>
    </array>
    <key>UIUserInterfaceStyle</key>
    <string>Light</string>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UIDesignRequiresCompatibility</key>
    <true/>
    <key>LEAP_HIGHLIGHT_COLOR</key>
    <string>38-208-124-1</string>
    <key>BuildMachineOSBuild</key>
    <string>24G419</string>
    <key>LEAP_CATEGORY_BAR_COLOR</key>
    <string>229.5-229.5-229.5-1</string>
    <key>DTPlatformName</key>
    <string>iphoneos</string>
    <key>NSCalendarsUsageDescription</key>
    <string>SalesPro needs access to your calendar to export appointments.</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>SalesPro uses your microphone to ensure conversations are captured during appointments for reference and training.</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>SalesPro uses your location to ensure recordings start and stop as you arrive at or leave your appointments.</string>
    <key>LEAP_MENU</key>
    <dict>
      <key>FOOTER_BACKGROUND_COLOR</key>
      <string>216-242-220-1</string>
      <key>ICON_NAME_SETTINGS</key>
      <string>fa-cog</string>
      <key>ICON_NAME_CREDIT_APPLICATION</key>
      <string>fa-clipboard</string>
      <key>HEADER_LOGO</key>
      <string></string>
      <key>LABEL_COLOR</key>
      <string>255-255-255-1</string>
      <key>COLOR_SELECTED</key>
      <string>0-0-0-0</string>
      <key>ICON_NAME_RESOURCES</key>
      <string>fa-th</string>
      <key>LEAP_MENU_LABEL_TASKS</key>
      <string>Tasks</string>
      <key>ICON_NAME_PRICE_GUIDE</key>
      <string>fa-dollar</string>
      <key>LEAP_MENU_LABEL_RESOURCES</key>
      <string>Resources</string>
      <key>ICON_NAME_PROPOSALS</key>
      <string>fa-file</string>
      <key>LEAP_MENU_LABEL_CREDIT_APPLICATION</key>
      <string>Credit Application</string>
      <key>ICON_NAME_TASKS</key>
      <string></string>
      <key>USE_GRADIENT</key>
      <string>YES</string>
      <key>FONT_NAME</key>
      <string></string>
      <key>LEAP_MENU_LABEL_CONTRACTS</key>
      <string>Contracts</string>
      <key>COLOR</key>
      <string>0-0-0-0</string>
      <key>LEAP_MENU_LABEL_PRICE_GUIDE</key>
      <string>Price Guide</string>
      <key>ICON_NAME_CONTRACTS</key>
      <string>fa-edit</string>
      <key>FONT_SIZE</key>
      <string>17</string>
      <key>ICON_NAME_ESTIMATES</key>
      <string>fa-tag</string>
      <key>ICON_NAME_AVAILABLE_CONTACTS</key>
      <string>fa-user</string>
      <key>LEAP_MENU_LABEL_ESTIMATES</key>
      <string>Estimate</string>
      <key>LEFT_LINE_COLOR</key>
      <string>0-0-0-0</string>
      <key>LEAP_MENU_LABEL_CUSTOMERS</key>
      <string>Customers</string>
      <key>FOOTER_LABEL_COLOR</key>
      <string>0-0-0-1</string>
      <key>LEAP_MENU_LABEL_SETTINGS</key>
      <string>Settings</string>
      <key>LEAP_MENU_LABEL_AVAILABLE_CONTACTS</key>
      <string>AVAILABLE CONTACTS</string>
      <key>ICON_NAME_FINANCE_CALCULATOR</key>
      <string>fa-calculator</string>
      <key>LEAP_MENU_LABEL_FINANCE_CALCULATOR</key>
      <string>Finance Calculator</string>
      <key>LEFT_LINE_COLOR_SELECTED</key>
      <string>119-255-66-1</string>
      <key>LEAP_MENU_LABEL_PROPOSALS</key>
      <string>Proposals</string>
      <key>LABEL_COLOR_SELECTED</key>
      <string>119-255-66-1</string>
    </dict>
    <key>CFBundleVersion</key>
    <string>3</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>DTCompiler</key>
    <string>com.apple.compilers.llvm.clang.1_0</string>
    <key>NSFaceIDUsageDescription</key>
    <string>Use Face ID for quick and secure login to SalesPro.</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLName</key>
        <string>com.stencil.estiMATE</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>leap</string>
          <string>msauth.com.stencil.estiMATE</string>
          <string>onelogin.com.stencil.estiMATE</string>
          <string>oauth.com.stencil.estiMATE</string>
          <string>leapcrm.com.stencil.estiMATE</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>com.stencil.estiMATE</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>leapSiroResp</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>pendo-ecc128b9</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>pendo-ecc128b9</string>
        </array>
      </dict>
    </array>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>SalesPro uses your location to ensure recordings start and stop as you arrive at or leave your appointments.</string>
    <key>TAB_BAR</key>
    <dict>
      <key>TAB_BAR_TEXT_COLOR_DESELECTED</key>
      <string>1-1-1-1</string>
      <key>TAB_BAR_TEXT_COLOR_SELECTED</key>
      <string>255-255-255-1</string>
    </dict>
    <key>LEAP_SWITCH_THUMB_COLOR</key>
    <string>92-183-81-1</string>
    <key>LEAP_DEEPLINK_ID</key>
    <string>leap</string>
    <key>NSCalendarsFullAccessUsageDescription</key>
    <string>SalesPro Reads and Writes Calendar Events for Appointments and Tasks.</string>
    <key>DTSDKName</key>
    <string>iphoneos18.5</string>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <true/>
    </dict>
    <key>DTPlatformBuild</key>
    <string>22F76</string>
    <key>DTXcode</key>
    <string>1640</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Allow access to photos to add them to contracts and proposals.</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>DTAppStoreToolsBuild</key>
    <string>17C503a</string>
  </dict>
</plist>
